<h1>{{title}}</h1>
<h2>{{ greet() }}</h2>

<p>
  Value of i : {{ i }}
</p>
<p>
  <button (click)="addCount()">Update i</button>
</p>

<p>
  <input type="text" #fullName>
</p>
<p>
  <button (click)="readData(fullName.value)">Read</button>
</p>

<p>
  Enter your age: <input type="text" #txtAge>
</p>
<p>
  <button (click)="readAge(txtAge.value)">Check Age</button>
</p>
<p *ngIf="validAge; else falseBlock">
  Welcome
</p>

<ng-template #falseBlock>
  Your age is invalid.
</ng-template>

<h3>Offered Course</h3>
<ul>
  <li *ngFor="let c of courses" [value]="c.code">{{ c.title }}</li>
</ul>
<p>
  <select name="ddlCourse" #sCourse (change)="readCourse(sCourse.selectedIndex)">
    <option *ngFor="let c of courses" value="{{c.code}}">{{ c.title | uppercase }}</option>
  </select>
</p>
<p style="color:green;font-weight:bold">
  Selected Course: {{ selectedCourse }}
</p>